body {
	margin: 0;
}
*{
	scroll-behavior: smooth;
}

nav {
	/* border: 2px solid green; */
	display: flex;
	height: 4vmax;
	box-shadow: 0 0 5px black;
	position: sticky;
	top:0%;
	background-color: white;
	z-index: 1000;
	align-items: center;
}

.left {
	width: 20%;
	/* border: 2px solid green; */
	display: flex;
	justify-content: center;
}
.left > a {
	text-decoration: none;
	color: crimson;
	font-size: 2vmax;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mid {
	width: 60%;
	/* border: 2px solid rgb(93, 149, 15); */
	display: flex;
	justify-content: space-evenly;
	align-self: stretch;
}
.mid > a {
	font-size: 1.4vmax;
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mid > a:hover {
	border-bottom: 2px solid rgb(201, 12, 12);
	color: crimson;
}

.right {
	width: 20%;
	
	display: flex;
	justify-content: space-evenly;
}

.right > img {
	width: 2vmax;
	/* color: red; */
}

.home{
	background-image: radial-gradient(rgb(182, 182, 190),rgb(136, 172, 241));
    height: 95vh;
    display: flex;
}


.containor2{
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content:flex-end;
}

.containor2>img{
    margin-right: 6vmax;
  filter: drop-shadow(0 0 10px black);
}

.containor1{
    width: 50%;
    display: flex;
	padding: 2vmax;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
}

.containor1>h1{
	font-size: 5vmax;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 0;
}
	
	.containor1>h2{
	margin-top: 0;
	font-size: 2vmax;

	}

.containor1>p{
	font-size: 1.2vmax;
	margin-left:2vmax;
}

.containor1>button{
	margin-left:2vmax;
	width:11vmax;
	background-color: crimson;
	color: white;
	border: none;
	padding: .8vmax;
	border-radius: 2vmax;
	cursor: pointer;
}
.containor1>button:hover{
	background-color: rgb(151, 15, 45);
}

/* ........................................................................... */

products{
	/* height: 100vh; */
	color:antiquewhite;
	/* border: 2px solid red; */
}

#products>h1{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
	  border-bottom: 5px solid crimson;
	  width: 25vw;
	  padding: 1.5vmax;
	  margin: 5vmax auto;
     font-size: 3vmax;
}
	
.productcontainer{
	/* height: 100%; */
	max-width: 80vw;
	/* background-color: aqua; */
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.product{
	/* border: 2px solid black; */
	/* width: 22vmax; */
	height: 30vmax;
	transition: all 0.5s;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1vmax;
	cursor: pointer;
}
.product:hover{
	transform: translateY(-10px);
}

.product>img{
	width: 20vmax;
}
.product>h4{
	margin:2%;
}
.product>h5{
	margin:0;
}

footer{
	height: 20vmax;
	background-color: rgb(62, 59, 59);
	margin-top: 10vmax;
	display: flex;
	align-items: center;
}
.leftfoot{
	width: 20%;
	/* border: 2px solid red; */
	display: flex;
	flex-direction: column;
	align-items: center	;
	color: white;
}
.leftfoot>p{
	text-align: center;
	padding: 2%;
}
.leftfoot>img{
    cursor: pointer;
    margin: auto;
	width: 10vmax;
}
.midfoot{
	width: 60%;
	/* border: 2px solid red; */
	display: flex;
	flex-direction: column;
	align-items: center	;
	color: white;
	padding: 5%;
}
.midfoot>h1{
  color: crimson;
}

.rightfoot{
	width: 20%;
	/* border: 2px solid red; */
	display: flex;
	flex-direction: column;
	align-items: center	;
	color: white;	
    
}

.rightfoot>a{
	color: white;
	margin:2%;
	text-decoration:none;
}